{
  "semi": false,
  "singleQuote": true,
  "prettier.arrowParens": "always",
  "prettier.jsxSingleQuote": true,
  "prettier.packageManager": "yarn",
  "prettier.semi": false,
  "prettier.singleQuote": true,
  "prettier.useEditorConfig": false,
  "prettier.tabWidth": 4,
  "prettier.bracketSpacing": true,
  "prettier.jsxBracketSameLine": true,
  "prettier.printWidth": 200,
  "prettier.trailingComma": "none",
  "prettier.useTabs": true
}
